* {

}

body {
    font-family: "Roboto", sans-serif;

}

.page-light {
    background-color: #F9F6F1;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    &-item {
        margin-left: 52px;
    }
    &-link {
        color: #212121;
    }
}